.tabMenu {
  display: flex;
  flex-grow: 1;
  height: 100vh;
  
  .itemContainer {
    width: 20vw;
    max-width: unset;
    background-color: #f2f2f2;
  }

  .panel {
    width: 80vw;
  }

  .item {
      max-width: unset;
      border-right: 2px solid rgb(255, 148, 148);
  }

}


